<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="msdb" connectionString="server=.\sqlexpress;database=NSunTest;uid=sa;pwd=sa;"/>-->
    <add name="msdb" connectionString="server=.;database=NSunTest;uid=sa;pwd=tiger;"/>
  </connectionStrings>

  <system.runtime.remoting>
    <application>
      <service>
        <wellknown type="ServiceShool.BookService,ServiceShool"  objectUri="bookservice"
            mode="Singleton" /> 
      </service>
      <service>
        <wellknown type="ServiceShool.StudentService,ServiceShool" objectUri="studentservice"
       mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="2133" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
